:root{
    --text-blue-600:#0629F0;
    --text-black:#000000;
    --shadow-black:#00000033;
    --bg-gray-2:#8b8b8b3f;
    --text-white-500:#fff;
    --bg-black:#000;
    --shadow-blue-500: #0629f067;
}
main .nav-bar{
   width: 85%;
   display: flex;
   justify-content: center;
   height: 60px;
   position: fixed;
   padding: 10px 0;
   z-index: 99 !important;
}
@media (max-width:360px){
    main .nav-bar{
        width: 100%;
        box-shadow: none;
        margin: -10px 0;
    }
}
main .nav-bar .active{
    color: var(--text-blue-600);
    border-bottom: 2px solid var(--text-blue-600);
    padding-bottom: 1px;
}
main .nav-bar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--text-white);
    box-shadow: 0 0 15px var(--shadow-black);
    background-color: var(--text-white-500);
    z-index: 99 !important;
}
main .nav-bar nav h1{
    color:var(--text-blue-600);
    font-weight: 500;
    position: relative;
    font-size: 25px;
}
main .nav-bar nav h1 span{
    color: var(--text-black);
    font-family:"Rubik Distressed";
    font-size: 30px;
}
@media (max-width:470px){
    main .nav-bar nav h1{
        display: none;
    }
    main .nav-bar nav{
        justify-content: center;
    }
}
main .nav-bar nav h1::after{
    content: "";
    position: absolute;
    width: 65px;
    height: 30px;
    right: 1px;
    border-bottom: 2px solid var(--text-blue-600);
}
main .nav-bar nav ul a:visited{
    text-decoration: none;
    color: var(--bg-black);
}
main .nav-bar nav ul a:active{
    color: var(--text-blue-600);
    filter: drop-shadow(0 0 5px var(--shadow-blue-500));
}
main .nav-bar nav ul li{
    display: inline-block;
    margin-right: 15px;
    padding: 8px 0; 
    font-weight: 500;
    border-bottom: 2px solid white;
}

main .nav-bar nav ul li:hover{
    border-bottom: 2px solid var(--text-blue-600);
    cursor: pointer;
    padding: 1px 0;
}
